@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body {
    background-image: url("images/4.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    align-items: center;
    font-family: Sriracha;
    font-size: 30px;
}