@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.socials, .social-login, .signin-content, .signup-content, .display-flex-center, .display-flex {
    display: flex;
    display: -webkit-flex;
}

/* @extend list-type-ulli; */
.socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* poppins-300 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    /* IE9 Compat Modes */
    /* Legacy iOS */
}

/* poppins-300italic - latin */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
}

/* poppins-regular - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
}

/* poppins-italic - latin */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
}

/* poppins-500 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
}

/* poppins-500italic - latin */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
}

/* poppins-600 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
}

/* poppins-700 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
}

/* poppins-700italic - latin */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
}

/* poppins-800 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
}

/* poppins-800italic - latin */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
}

/* poppins-900 - latin */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
}

a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}

input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

input[type=checkbox] {
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}

input[type=radio] {
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 0;
    font-size: 15px;
    color: #777;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 36px;
}

.clear {
    clear: both;
}

body {
    color: #222;
    font-weight: 400;
    background-image: url("images/4.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 17px 0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.signup-content {
    padding: 35px 0;
}

.signup-form, .signup-image, .signin-form, .signin-image {
    width: 50%;
    overflow: hidden;
}

.signup-image {
    margin: 0 55px;
}

.form-title {
    margin-bottom: 33px;
    font-family: 'Sriracha';
}

.signup-image {
    margin-top: 45px;
}

figure {
    margin-bottom: 50px;
    text-align: center;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: #4292dc;
}

.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
    font-family: "Concert One";
    font-size: 15px;
}

.term-service {
    font-size: 13px;
    color: #222;
    font-family: "Concert One";
    font-size: 17px;
}

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.register-form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group:last-child {
    margin-bottom: 0;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    box-sizing: border-box;
    font-family: 'Concert One';
    font-size: 20px;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input:focus {
    border-bottom: 1px solid #222;
}

input:focus::-webkit-input-placeholder {
    color: #222;
}

input:focus::-moz-placeholder {
    color: #222;
}

input:focus:-ms-input-placeholder {
    color: #222;
}

input:focus:-moz-placeholder {
    color: #222;
}

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

input[type=checkbox]:not(old) + label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}

input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #999;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked + label > span:before {
    content: "ï‰«";
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
}

.agree-term {
    display: inline-block;
    width: auto;
}
.agree-term:checked{
    background-color: #00ae96;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
}

.label-has-error {
    top: 22%;
}

label.error {
    position: relative;
    background-position-y: 3px;
    padding-left: 20px;
    display: block;
    margin-top: 20px;
}

label.valid {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: transparent;
}

label.valid:after {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 16px;
    color: green;
}

.label-agree-term {
    position: relative;
    top: 0;
    font-family: "Concert One";
    font-size: 17px;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}

.material-icons-name {
    font-size: 18px;
}

.signin-content {
    padding: 55px 0;
}

.social-login {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    margin-top: 80px;
}

.social-label {
    display: inline-block;
    margin-right: 15px;
}

.socials li {
    padding: 5px;
}

.socials li:last-child {
    margin-right: 0;
}

.socials li a {
    text-decoration: none;
}

.socials li a i {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.socials li:hover a i {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

.zmdi-facebook {
    background: #3b5998;
}

.zmdi-twitter {
    background: #1da0f2;
}

.zmdi-google {
    background: #e72734;
}

.signin-form {
    margin-right: 90px;
    margin-left: 80px;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 768px) {
    .signup-content, .signin-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
    }

    .signup-form {
        margin-left: 0;
        margin-right: 0;
        padding: 0 30px;
    }

    .signin-image {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -o-order: 2;
        -ms-order: 2;
    }

    .signup-form, .signup-image, .signin-form, .signin-image {
        width: auto;
    }

    .social-login {
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
    }

    .form-button {
        text-align: center;
    }

    .signin-form {
        order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -o-order: 1;
        -ms-order: 1;
        margin-right: 0;
        margin-left: 0;
        padding: 0 30px;
    }

    .form-title {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .social-login {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .social-label {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.main {
    left: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    display: table;
}

section{
    display: table-cell;
    vertical-align: middle;
    text-align:center
}

.icon {
    font-size: 20px;
}

.form-submit {
    background: #00d2b6;
}

.form-submit:hover {
    background: #3BB3B7;
}

.text-danger{
    color: darkred;
    font-family: 'Concert One', cursive;
}
.loader_bg{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
}
.loader {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    padding: 150px;
}

.loader span {
    display: block;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
    background: #f07e6e;
}

.loader span:nth-child(3) {
    background: #84cdfa;
}

.loader span:nth-child(4) {
    background: #5ad1cd;
}

.loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

.loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(10px, -10px);
    }
    20% {
        transform: translate(20px, 10px);
    }
    30% {
        transform: translate(30px, -50px);
    }
    70% {
        transform: translate(-150px, -50px);
    }
    80% {
        transform: translate(-140px, 10px);
    }
    90% {
        transform: translate(-130px, -10px);
    }
    100% {
        transform: translate(-120px, 0);
    }
}
