<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/quiz.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/images/logo.png"/>
</head>
<body class="pt-5">
<div class="container mt-5 p-3">
    <div class="row d-flex justify-content-around p-2">
        <div class="col-md-10 shadow-lg question">
            <div class="row d-flex justify-content-around p-5">
                <div class="col-md-12">
                    <h2>1. Question content is here?</h2>
                </div>
                <div class="col-md-12 mt-3 pt-3 pb-3 option rounded">
                    <label>
                        <input type="radio" class="option-input radio" name="example" checked />
                        Radio option
                    </label>
                </div>
                <div class="col-md-12 mt-3 pt-3 pb-3 option rounded">
                    <label>
                        <input type="radio" class="option-input radio" name="example" checked />
                        Radio option
                    </label>
                </div>
                <div class="col-md-12 mt-3 pt-3 pb-3 option rounded">
                    <label>
                        <input type="radio" class="option-input radio" name="example" checked />
                        Radio option
                    </label>
                </div>
                <div class="col-md-12 mt-3 pt-3 pb-3 option rounded">
                    <label>
                        <input type="radio" class="option-input radio" name="example" checked />
                        Radio option
                    </label>
                </div>
                <div class="col-md-12 mt-3 pt-3">
                    <div class="row d-flex justify-content-around">
                        <div class="col-md-5 d-flex justify-content-around">
                            <a href="#" class="btn btn-primary mr-2 mb-2">Previous</a>
                        </div>
                        <div class="col-md-5 d-flex justify-content-around">
                            <a href="#" class="btn btn-primary mr-2 mb-2">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>