<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Main css -->
    <link rel="stylesheet" href="/css/login-and-register-style.css">

    <link rel="icon" type="image/png" href="/images/logo.png"/>

    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
</head>
<body>

<div class="main">
    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="post" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name" class="icon"><i class="fa fa-user" aria-hidden="true"></i></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="email" class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="icon"><i class="fa fa-lock" aria-hidden="true"></i></label>
                            <input type="password" name="password" id="pass" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <label for="repass" class="icon"><i class="fa fa-lock" aria-hidden="true"></i></label>
                            <input type="password" name="repass" id="repass" placeholder="Repeat your password"/>
                        </div>
                        <div class="form-group">
                            <span class="text-danger" th:text="${msg}"></span>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#pass").val();
            var confirmPassword = $("#rePass").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
</body>
</html>