<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password</title>

    <!-- Main css -->
    <link rel="stylesheet" href="/css/login-and-register-style.css">

    <link rel="icon" type="image/png" href="/images/logo.png" />

    <link rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
</head>
<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/think.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Reset password</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="new" class="icon"><i class="fa icon fa-user" aria-hidden="true"></i></i></label>
                                <input type="password" name="password" id="new" placeholder="New Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re_new" class="icon"><i class="fa fa-lock" aria-hidden="true"></i></label>
                                <input type="password" name="re-password" id="re_new" placeholder="Confirm password"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="js/login-and-register-main.js"></script>
</body>
</html>